<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <title>калькулятор розрахунку маси тіла</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    
<body>
    <div class="wrapper">
     <header class="header">
        <ul class="header-nav">
            <li><a href="#"><img src="{{ url_for('static', filename='img/logo_header.png') }}"></a></li>
            <li><a href="#">Про программу</a></li>
            <li class="btn-heder"><a href="#">Почати</a></li>
            
            
        </ul>

     </header>

     <section class="main-section">
        <div class="main-title">
         <h1>Знайди свою вагу</h1>
         <h3>досягни ідеального балансу тіла</h3>
        </div>
        <div class="main-page">
         <img class="people-page" src="{{url_for('static', filename = 'img/people_main.png')}}" width="160px" alt="">
          <div class="main-text" >
             <h2>Дізнайся свою оптимальну вагу, відсоток жиру та здоров'я тіла з науковою точністю!</h2>
             <button class="start-calc-btn" type="button">Почати</button>
          </div>
        </div>
        <div class="calc-mass-wrap hidden">
         <div class="calc-mass">
            <h3>Калькулятор ваги</h3>
           <form action="/" method = "POST">
               <div class="gender-select" id="sex"> 
                <label class="gender-btn" > 
                <input type="radio" name="gender" value="male">
                <span>Чоловік <img src="./img/male.png" alt=""></span>
               </label> 
               <label class="gender-btn" > 
                <input type="radio" name="gender" value="female">
                <span>Жінка <img src="./img/female.png" alt=""></span>
               </label>
               </div>
              
<!-- поле вводу віку -->        
           <div class="age-control parametrs">
            <div class="age-top param-top">
                <label for="ageRange">Вік</label>
                <input type="number" name ="ageInput"  id="ageInput" min="5" max="105" value="0">
            </div>
            <input type="range" class="range"  data-target="ageInput" id="ageRange" min="5" max="105" value="0">            
           </div>
<!-- поле вводу зросту -->
           <div class="height-control parametrs">
            <div class="height-top param-top">
                <label for="heightRange">Зріст (см)</label>
                <input type="number" name = "heightInput" id="heightInput" min="50" max="250" value="0">
            </div>
            <input type="range" class="range" data-target="heightInput" id="heightRange" min="50" max="250" value="0">            
           </div>
<!-- поле вводу ваги -->
           <div class="mass-control parametrs">
            <div class="mass-top param-top">
                <label for="massRange">Вага (кг)</label>
                <input type="number" name = "massInput"  id="massInput" min="10" max="300" value="0">
            </div>
            <input type="range" class="range" data-target="massInput" id="massRange" min="10" max="300" value="0">            
           </div>
<!-- поле вводу об'єму таліі -->
            <div class="waist-control parametrs">
            <div class="waist-top param-top">
                <label for="waistRange">Об'єм таліі (см)</label>
                <input type="number" name="waistInput" id="waistInput" min="30" max="200" value="0">
            </div>
            <input type="range" class="range" data-target="waistInput" id="waistRange" min="30" max="200" value="0">            
           </div>
<!-- поле вводу об'єму стегон -->
            <div class="hips-control parametrs">
            <div class="hips-top param-top">
                <label for="hipsRange">Об’єм стегон(см) <br>для жінок</label>
                <input type="number" name = "hipsInput" id="hipsInput" min="30" max="200" value="0">
            </div>
            <input type="range" class="range" data-target="hipsInput" id="hipsRange" min="30" max="200" value="0">            
           </div>
<!-- поле вводу об'єму шиї -->
            <div class="neck-control parametrs">
            <div class="neck-top param-top">
                <label for="neckRange">Об’єм шиї(см) </label>
                <input type="number" name = "neckInput" id="neckInput" min="10" max="80" value="0">
            </div>
            <input type="range" class="range" data-target="neckInput" id="neckRange" min="10" max="80" value="0">            
           </div>
<!-- чи займаєтесь ви спортом -->          
           <h4>Чи займаєтесь активно спортом?</h3>
           
            <div class="sport-select">
              <label class="sport-btn" > 
                <input type="radio" name="sport" value="yes">
                <span>Так</span>
               </label>  
               <label class="sport-btn" > 
                <input type="radio" name="sport" value="no">
                <span>Ні</span>
               </label>  
            </div>
            <button class="calc-btn" type="submit">Розрахувати</button>
          </form>
           
        </div>
       </div>
    
     </section>
     <section class="results-section">
        <h4>Результат</h4>
        <p>{{ bmi_status }}</p> 
        <p>{{whtr_status}}</p>   
        <p>{{rfm_status}}</p>
        <p>{{absi_status}}</p>
        <hr>
         <h4>Висновок</h4> 
         <p>{{final_conclusion}}</p>
         <p>{{recommendations }}</p>
     </section>
     <footer class="footer"> 
        <div class="footer-action-icon">
          <div class="choose-icon"><img src="..//static/img/icon_mass_calc.png" width="60pxs" alt=""></div>
          <div class="choose-icon"><img src="..//static/img/icon_mass_calc.png" width="60pxs" alt=""></div>
          <div class="choose-icon"><img src="..//static/img/icon_mass_calc.png" width="60pxs" alt=""></div>
        </div>
     </footer>
    </div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    if ("serviceWorker" in navigator) {navigator.serviceWorker.register("/static/sw.js");} 
</script>
</body>
</html>
