* {
  box-sizing: border-box;
}


a, ul, li, h1, h2,h3, h4, p {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}


body {
  
  
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  
  
  
}
.wrapper {
  position: absolute;
   width: 498px;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e2fee0;
}
.header {
  background: linear-gradient(180deg, rgba(95, 68, 123, 0.8) 28.34%, rgba(118, 94, 171, 0.8) 63.01%, rgba(110, 138, 249, 0.8) 100%); 
  height: 60px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px;

  
  
  color: #fffbfb;
  
}
.header-nav a {
  color: #fffbfb;
  font-weight: 400;
  font-size: 12px;
}

.btn-heder {
  display: flex;
  background: linear-gradient(80deg, #7789ff 0%, #bf1edc 100%);
  border: 1px solid #fffafa;
  border-radius: 8px;
 
  text-align: center;
  align-items: center;
  padding: 4px 12px ;
}

.main-section {

  position: relative;
  background-image: url("../img/bagr-2.svg");
  background-repeat: no-repeat;
  flex: 1;
 
}

.main-title{
    
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 38px;
  padding-top: 21px;
  text-align: center;
}

 h1 {
font-weight: 500;
font-size: 35px;
color: #fff7f7;

 }

.main-title h3 {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin: 5px 0 0 0;
} 

.people-page {
  max-width: 160px;
  width: 100%;
  
}

.main-page {
  display: flex;
  margin-top: 28px;
  justify-content: space-between;
  gap: 24px;
  margin-right: 24px;
  margin-left: 12px;
 
  align-items: center;

}
h2 {
  font-size: 16px;
  color: rgb(5, 5, 41);
}

.start-calc-btn, .calc-btn{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #5e70ca 7.21%, #9d2bc7 85.1%);
  border-radius: 4px;
  border: solid 1px;
  padding: 6px 24px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
 width: fit-content;
  color: #fff9f9;
  cursor: pointer;
  align-self: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.gender-select{
display:flex;
gap:12px;
justify-content: center;

}

.gender-btn input{
display:none;
}

.gender-btn span{
  display: inline-flex;   /* ключове */
  align-items: center;    /* вертикально рівно */
  gap: 4px;               /* відстань між текстом і іконкою */

  padding: 4px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.gender-btn input:checked + span{
background-color:#3541ea;;
color:white;
}

.calc-mass {
   display: flex;
  flex-direction: column;
  background-color:#fdffce;
  border-radius: 8px;
  max-width: 232px;
  padding: 16px 14px;
}

.calc-mass h3 {
 
  font-weight: 600;
  font-size: 16px;
  color: rgb(5, 5, 41);
  
  margin-bottom: 8px;
  text-align: center;
}

.age-control, .mass-control, .height-control, .waist-control, .hips-control, .neck-control {
  padding: 8px 0;
width:100%;
}

.age-top, .mass-top, .height-top, .waist-top, .hips-top, .neck-top {
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:4px;
font-size: 14px;
}

#ageRange, #massRange, #heightRange,  #waistRange, #hipsRange, #neckRange {
width:100%;
}

#ageInput, #massInput, #heightInput, #waistInput, #hipsInput, #neckInput {
width:45px;
text-align:center;
padding:2px;
}

.age-top label, .mass-top label, .height-top label, .waist-top label, .hips-top label, .neck-top label{
line-height:1; /* прибирає “просідання” тексту */
}

h4 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
} 

.sport-select{
display:flex;
gap:12px;
justify-content: center;

}

.sport-btn input{
display:none;
}

.sport-btn span{
  display: inline-flex;   /* ключове */
  align-items: center;    /* вертикально рівно */
  gap: 4px;               /* відстань між текстом і іконкою */

  padding: 4px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.sport-btn input:checked + span{
background-color:#3541ea;;
color:white;
}
/* модальне вікно калькулятора */
.calc-mass-wrap {
  
  position: absolute;
  
  top: 65%;
  left: 90px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

 /* background: rgba(0,0,0,0.5);  затемнення */
  z-index: 1000;
}

/* саме вікно */
.calc-mass{
  background: #fdffce;
  border-radius: 8px;
  padding: 16px;
}

/* приховано*/
.hidden{
  display: none;
} 

.results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
  margin: 8px 8px 24px 8px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
background: #fdffce;
opacity: 0.8;
  
}

/* футер */
.footer {
   margin: 20px;
 }
.footer-action-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}